[General]
username=
input_dir=

[Limits]
limit_low=2000.0
limit_high=9300.0
threshold=300.0
delta_min=8.0
search_range=0.8

[HAlpha]
ha_lines=1
ha_range=150.0
ha_wl1=6565.0
ha_wl2=6490.0
ha_dl1=40.0
ha_dl2=50.0
ha_kt=1.0

[Response]
apply_response=0
apply_before=0
apply_after=1
response_file=

[Acquisition]
echelle=0
single_file_path=
instrumental_width=1.0

[Fit]
fix_wg=0
fixed_wg=0.5
fix_wl=0
fixed_wl=0.5
aki_threshold=0.0
ne_low=1000000000000000.0
ne_high=1e+19
kt_low=0.5
kt_high=2.0
fix_wavelength=0
convert_to_angstrom=0
iterations=1
auto_offset=0
auto_shift=0.0

[Windows]
main_geometry=
template_geometry=
fit_geometry=
cf_geometry=
options_geometry=
ident_geometry=

[View]
view_grid_x=1
view_grid_y=1
view_log_x=0
view_log_y=0
background_color=#ffffff

[WindowPositions]
Main_X=
Main_Y=
Main_W=
Main_H=
ManualFit_X=
ManualFit_Y=
ManualFit_W=
ManualFit_H=
AutoFit_X=
AutoFit_Y=
AutoFit_W=
AutoFit_H=
Trace_X=
Trace_Y=
Trace_W=
Trace_H=
Template_X=
Template_Y=
Template_W=
Template_H=
SahaBoltzmann_X=
SahaBoltzmann_Y=
SahaBoltzmann_W=
SahaBoltzmann_H=
ShowSA_X=
ShowSA_Y=
ShowSA_W=
ShowSA_H=
CFLIBS_X=
CFLIBS_Y=
CFLIBS_W=
CFLIBS_H=
HAlpha_H=
HAlpha_W=
HAlpha_X=
HAlpha_Y=

